.container{
    width: 100%;
    height: 60px;
    display: flex;
    padding: 10px 80px;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(to top, rgb(50, 50, 152), rgb(35, 2, 48));
    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        gap: 4rem;
        color: white;
        font-weight: 900;
        letter-spacing: 1px;
        font-size: 18px;
    }
}